<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Kişi Ekle</title>
</head>
<body layout:fragment="content">
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Kişi Ekle</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <form action="#" th:action="@{/persons}" th:object="${person}" method="post">
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input type="text" placeholder="Kullanıcı Adı" th:field="*{userName}" id="userName" class="form-control" />
                        <span style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" placeholder="Şifre" th:field="*{passwrd}" id="passwrd" class="form-control"/>
                        <span style="color:red" th:if="${#fields.hasErrors('passwrd')}" th:errors="*{passwrd}"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Şifre</label>
                        <select class="form-control select2" th:field="*{personType}" style="width:100%;">
                            <option value=''>Tip</option>
                            <option value=''></option>
                            <option th:each="pType : ${personType}" th:value="${pType.id}" th:text="${pType.personTypeName}">
                            </option>
                        </select>
                        <span style="color:red" th:if="${#fields.hasErrors('personType')}" th:errors="*{personType}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" placeholder="Ad" th:field="*{firstName}" id="firstName" class="form-control"/>
                        <span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Soyad</label>
                        <input type="text" placeholder="Soyad" th:field="*{lastName}" id="lastName" class="form-control"/>
                        <span style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Doğum Günü</label>
                        <input type="date" placeholder="Doğum Günü" th:field="*{birthDate}" id="birthDate" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" placeholder="Email" th:field="*{email}" id="email" class="form-control"/>
                        <span style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Telefon</label>
                        <input type="text" placeholder="Telefon" th:field="*{telephone}" id="telephone" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cep Telefonu</label>
                        <input type="text" placeholder="Cep Telefonu" th:field="*{cellPhone}" id="cellPhone" class="form-control"/>
                        <span style="color:red" th:if="${#fields.hasErrors('cellPhone')}" th:errors="*{cellPhone}"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cinsiyet</label>
                        <select class="form-control select2" th:field="*{gender}" style="width:100%;">
                            <option th:each="g : ${gender}" th:value="${g}" th:text="${g.description}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Meslek</label>
                        <select class="form-control select2" th:field="*{job}" style="width:100%;">
                            <option value=''>Meslek</option>
                            <option value=''></option>
                            <option th:each="j : ${job}" th:value="${j.id}" th:text="${j.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Not</label>
                        <textarea placeholder="Not" th:field="*{note}" id="note" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pull-right">
                    <input type="submit" class="btn btn-block btn-success" value="KAYDET">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>